<header class="main-menu">
    <ul class="nav-items">
        <li class="nav-item"><a class="nav-link" href="{{ path('home') }}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('admin_list_books') }}">Books</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('admin_list_authors') }}">Authors</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
    </ul>
</header>